*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.test
{
    background-color: darkgray;
}

main
{
    color: white;
}
.mycontainer{
    display: flexbox;
    text-align: center;
    justify-content: center;
}

.jobb{
    background-color: black;
    color: white;
    flex: 15%;
}

.udvozlo
{
    text-align: center;
    flex: 70%;
}

.bal
{
    flex: 15%;
    text-align: center;
    align-items: right;
    background-color: black;
    color: white;
}

.szoveg{
    width: 15%;
}


.érettségi_felkészités
{
    color: black;
    text-align: center;
    text-decoration: none;
}

.film_elemzés
{
    color: black;
    text-align: center;
    text-decoration: none;
}

.Esszé_elemzés
{
    color: black;
    text-align: center;
    text-decoration: none;
}
