.test
{
    background-color: darkgray;
}
.navbar
{
    font-family: 'Times New Roman', Times, serif;
}
main
{
    color: white;
}
.érettségi_felkészités
{
    color: black;
    text-align: center;
    text-decoration: none;

}
.film_elemzés
{
    color: black;
    text-align: center;
    text-decoration: none;

}
.Esszé_elemzés
{
    color: black;
    text-align: center;
    text-decoration: none;

}

.udvozlo
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}